    <div class="quarter">
      <img src ="https://images.pexels.com/photos/2747449/pexels-photo-2747449.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="event picture" style="width:100%">
      <h1>{{name}}</h1>
      <h3>Description: {{summary}}</h3> 
      <h3>Location: {{location}}</h3>
      <h3>Time: {{time}}</h3>
      <h3>Cost: {{cost}}</h3>
    </div>
    